<log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%5level %date [%thread] - %message%newline" />
        </layout>
    </appender>
    
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="logs/sample.log" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <appendToFile value="true" />
        <maximumFileSize value="100KB" />
        <maxSizeRollBackups value="99" />

        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%5level %date [%thread] - %message%newline" />
        </layout>
    </appender>

    <appender name="asyncRollingFile" type="Log4Net.Async.AsyncRollingFileAppender,Log4Net.Async">
        <file value="logs/sample.log" />
        <!--<lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />-->
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <appendToFile value="true" />
        <maximumFileSize value="100KB" />
        <maxSizeRollBackups value="99" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%5level %date [%thread] - %message%newline" />
        </layout>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="Console" />
    </root>

    <logger name="mylogger">
        <appender-ref ref="RollingFile" />
    </logger>
    
    <logger name="async_mylogger">
        <appender-ref ref="asyncRollingFile" />
    </logger>
</log4net>
